<div class="image">
  <img src="/assets/images/gallery-12.jpg" />
  <div class="quote-text">
    <div>
      <table>
        <tr>
          <td>
            <h3>{{data.data1}}</h3>
          </td>
        </tr>
      </table>
    </div>
    “Our homestay features 5 well-appointed rooms, all equipped with great facilities to make your stay seamless. Whether you’re here to unwind, explore, or work remotely, we ensure comfort, convenience, and care at every step.”
  </div>
</div>

<!-- <p>Congratulations! Your app is running. 🎉</p> -->
<!-- <div>
        <table>
          <tr>
            <td><input type="text" /></td>
          </tr>
        </table>
      </div>

      <div [style.height]="heightFunction()">
        <table>
          <tr>
            <td>
              <label for="Rate">Rate:</label>
            </td>
            <td>
              <input id="Rate" type="text" value="{{rate}}" readonly />
            </td>
            <td>
              <button (click)="rateCalculate()" class="my-btn">
                Click
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div>
        <table>
          <tr>
            <td>
              <button (click)="decrement()" class="my-btn">
                -
              </button>
            </td>
            <td>
              <input id="Rate" type="text" value="{{count}}" readonly style="width: 80px;" />
            </td>
            <td>
              <button (click)="increment()" class="my-btn">
                +
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div>
        <table>
          <tr>
            <td>
              <button (click)="onButtonClick()" class="my-btn">
                Click
              </button>
              <a href="/new-page">Go to New Page</a>
            </td>
          </tr>
        </table>
      </div> -->