<!-- <h2>Our Service</h2>
<p>We offer a variety of services to make your stay comfortable and enjoyable. Our services include:</p> -->

<div class="services">
<div class="container">
  <h2>Our Service</h2>
  <p>We offer a variety of services to make your stay comfortable and enjoyable. Our services include:</p>
  <table>
    <tr>
      <td>Breakfast</td>
      <td>Garden</td>
      <td>Pool</td>
      <td>Free Wifi</td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/breakfast.jpg" alt="Breakfast Service">
      </td>
      <td>
        <img src="assets/images/garden-1.jpg" alt="Garden Service">
      </td>
      <td>
        <img src="assets/images/pool.jpg" alt="Pool Service">
      </td>
      <td>
        <img src="assets/images/wifi.png" alt="Wifi Service">
      </td>
    </tr>
    <tr>
      <td>Daily Housekeeping</td>
      <td>Horse Riding</td>
      <td>Lunch and Dinner</td>
      <td>Trekking</td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/housekeeping.jpg" alt="housekeeping Service">
      </td>
      <td>
        <img src="assets/images/horseriding.jpg" alt="housekeeping Service">
      </td>
      <td>
        <img src="assets/images/lunch.jpg" alt="housekeeping Service">
      </td>
      <td>
        <img src="assets/images/trekking.jpg" alt="housekeeping Service">
      </td>
    </tr>
  </table>
</div>
</div>