<div class="gallery">
  <img src="assets/images/gallery-4.jpg" alt="Gallery Image 1">
  <img src="assets/images/gallery-8.jpg" alt="Gallery Image 2">
  <img src="assets/images/gallery-5.jpg" alt="Gallery Image 3">
  <img src="assets/images/gallery-9.jpg" alt="Gallery Image 4">
  <img src="assets/images/gallery-2.jpg" alt="Gallery Image 5">
  <img src="assets/images/gallery-1.jpg" alt="Gallery Image 6">
  <img src="assets/images/contact-1.jpg" alt="Gallery Image 6">
  <img src="assets/images/gallery-7.jpg" alt="Gallery Image 6">
  <img src="assets/images/gallery-6.jpg" alt="Gallery Image 6">
  <img src="assets/images/gallery-10.jpg" alt="Gallery Image 6">
  <img src="assets/images/gallery-11.jpg" alt="Gallery Image 6">
  <img src="assets/images/gallery-12.jpg" alt="Gallery Image 6">
</div>