<!-- <div class="row">
  <div class="col">
    @if (contactData) {
      <div class="card p-3 shadow-sm">
        <h3>Editing: {{ contactData.first_name }} {{ contactData.last_name }}</h3>
        <p><b>Email:</b> {{ contactData.email }}</p>
        <p><b>Phone:</b> {{ contactData.wa_id }}</p>
      </div>
    } @else {
      <div class="alert alert-warning">
        No contact data found.
      </div>
    }
  </div>
</div> -->

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @if (contact) {
          <tr>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.wa_id }}</td>
            <td>
              <!-- <button class="btn btn-sm btn-primary me-2" (click)="onEdit(contact)">Edit</button> -->
              <button class="btn btn-sm btn-primary me-2">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(contact)">Delete</button>
            </td>
          </tr>
          } @else {
          <tr>
            <td colspan="5" class="text-center">No contact data found</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table>
        <tr>
          <td><label for="firstName">First Name</label></td>
          <td>
            <input
              id="firstName"
              name="firstName"
              class="form-control"
              type="text"
              [(ngModel)]="contact.first_name"
            />
          </td>
        </tr>
        <tr>
          <td><label for="lastName">Last Name</label></td>
          <td>
            <input
              id="lastName"
              name="lastName"
              class="form-control"
              type="text"
              [(ngModel)]="contact.last_name"
            />
          </td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td>
            <input
              id="email"
              name="email"
              class="form-control"
              type="email"
              [(ngModel)]="contact.email"
            />
          </td>
        </tr>
        <tr>
          <td><label for="phone">Phone</label></td>
          <td>
            <input
              id="phone"
              name="phone"
              class="form-control"
              type="text"
              [(ngModel)]="contact.wa_id"
            />
          </td>
        </tr>
        <tr>
          <td><label for="country">country</label></td>
          <td>
            <select
              id="country"
              name="country"
              class="form-control"
              [(ngModel)]="contact.countries__id"
            >
              <option [value]="contact._id">{{ contact.CountryName }}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>
