<div class="modal-header">
  <h5 class="modal-title">{{ action }} Contact</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>

<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
      <div class="form-group mb-3">
        <label>First Name *</label>
        <input type="text" formControlName="first_name" class="form-control" />
      </div>
      <div class="form-group mb-3">
        <label>Last Name *</label>
        <input type="text" formControlName="last_name" class="form-control" />
      </div>
      <div class="form-group mb-3">
        <label>Email *</label>
        <input type="email" formControlName="email" class="form-control" />
      </div>
      <div class="form-group mb-3">
        <label>Phone *</label>
        <input type="text" formControlName="wa_id" class="form-control" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="dataForm.reset()">Reset</button>
    <button type="submit" class="btn btn-primary" [disabled]="dataForm.invalid">Save</button>
  </div>
</form>
