// h4 {
//   margin-bottom: 10px;
// //  align-items: center;
//  // text-align: center;
// }


  .page-bg {
  background-color: #ffe4e6; /* light rose */
  min-height: 100vh; /* full height */
  padding: 30px; /* space around content */
}

.card {
  background-color: #ffffff; /* content white */
}

